@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-inter: Inter, sans-serif;
  --font-display: "Oswald", "sans-serif";
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11"; 
  --font-display--font-variation-settings: "opsz" 32; 
  
  --breakpoint-xs: 480px;
  --breakpoint-sm: 580px;
  --breakpoint-md: 768px;
  --breakpoint-md-lg: 914px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-kf-50: #f5f1ff;
  --color-kf-100: #ede5ff;
  --color-kf-200: #deceff;
  --color-kf-300: #c6a6ff;
  --color-kf-400: #ad74ff;
  --color-kf-500: #973cff;
  --color-kf-600: #8f15ff;
  --color-kf-700: #8403fe;
  --color-kf-800: #6e02d5;
  --color-kf-900: #440381;

  --color-malibu-50: #ebfeff;
  --color-malibu-100: #cdfaff
  --color-malibu-200: #a1f3ff;
  --color-malibu-300: #51e5ff;
  --color-malibu-400: #1ad2f6;
  --color-malibu-500: #00b5dc;
  --color-malibu-600: #018fb9;
  --color-malibu-700: #097295;
  --color-malibu-800: #115d79;
  --color-malibu-900: #134c66;

  @keyframes spin2 {
    0%{ transform : rotate(-10.0deg) scale(2);}
    20% { transform : rotate(20.0deg) translateY(-10px) scale(2.2);}
    40% { transform : rotate(0.0deg) translateY(-4px) scale(2);}
    60% { transform : rotate(-10.0deg) translateY(-5px) scale(1.4);}
    100% { transform : rotate(0.0deg) translateY(-0px) scale(0.8);}
  }

  @keyframes fadein {
    0% { opacity : 0;}
    100% { opacity : 1;}
  }

  @keyframes  fadeout {
    0% { opacity : 1;}
    100% { opacity : 0;}
  }

  @keyframes move-bg {
    0% { background-position: 0 0 ;}
    100% { background-position: 100px 100px ;}
  }

  @keyframes wave {
    0% { transform: rotate(0.0deg) ;}
    10% { transform: rotate(14deg) ;}
    20% { transform: rotate(-8deg) ;}
    30% { transform: rotate(14deg) ;}
    40% { transform: rotate(-4deg) ;}
    50% { transform: rotate(10.0deg) ;}
    60% { transform: rotate(0.0deg) ;}
    100% { transform: rotate(0.0deg) ;}
  }

  @keyframes astro {
    0% { transform: rotate(0.0deg) ;}
    10% { transform: rotate(14deg) ;}
    20% { transform: rotate(-8deg) ;}
    30% { transform: rotate(14deg) ;}
    40% { transform: rotate(-4deg) ;}
    50% { transform: rotate(10.0deg) ;}
    60% { transform: rotate(0.0deg) ;}
    100% { transform: rotate(0.0deg) ;}
  }

  --animate-spin-slow: spin 0.3s linear;
  --animate-fadein: fadein 0.5s linear;
  --animate-fadeout: fadeout 0.6s linear;
  --animate-ltr-linear-infinite: move-bg 10s linear infinite;
  --animate-waving-hand: wave 2s linear infinite;
  --animate-wave: spin2 2s ease-out infinite;

}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }
  .md-view {
    code {
      border-width: thin;
      @apply text-kf-600 bg-pink-50 
          dark:text-pink-400 dark:bg-pink-100/10
          rounded-md border border-kf-600/20 dark:border-none;
      padding-left: 4px;
      padding-right: 4px;
    }
    strong {
      @apply text-kf-600 dark:text-kf-400;
    }
    a {
      @apply text-kf-600 dark:text-kf-400;
      text-decoration: underline;
    }
    blockquote {
      
      @apply border-l-pink-400 border-l-2 pl-2 my-2;

      /* bg: "orange.100",
      borderWidth: "1px",
      rounded: "lg",
      px: "1.25rem",
      py: "1rem",
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; */
      p  {
        margin-top: 0rem;
      }
    }
    ul {
      list-style-type: disc;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.0rem;
      }
    }
    ol {
      list-style-type: decimal;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.25rem;
      }
    }
  }
}

@layer components {
  .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-gray-600/20;
    }

  .shelf-media-source {
    @apply bg-slate-50 dark:bg-slate-50/10 
    hover:bg-slate-100 dark:hover:bg-slate-100/0;
  }

  .shelf-side-hover {
    @apply sm:hover:bg-gray-200/90 dark:sm:hover:bg-gray-200/5;
  }

  .shelf-action-bar {
    @apply bg-white/50 dark:bg-slate-800/30 ;
  }

  .shelf-logo {
    @apply dark:border-slate-700
    bg-white dark:bg-slate-900/40;
  }

  .shelf-body-bg {
    @apply bg-gradient-to-br 
    from-slate-100 to-teal-50
    dark:from-slate-800 dark:to-slate-800
    text-gray-800 dark:text-gray-400;
  }

  .shelf-login-form-bg {
    @apply bg-gradient-to-br 
    from-white to-white
    text-gray-800 
    dark:from-slate-800 
    dark:to-slate-800
    dark:text-gray-400;
  }


  .shelf-bling-fill {
    @apply text-gray-500 dark:text-gray-400
           bg-white dark:bg-slate-700 ;
  }

  .shelf-plain-card-fill {
    @apply bg-white dark:bg-slate-800;
    @apply border-gray-300 dark:border-slate-700;
    @apply shadow-gray-300 dark:shadow-gray-900;
  }

  .shelf-plain-card-soft {
    @apply bg-white dark:bg-slate-700;
    @apply border-gray-300 dark:border-slate-600;
    @apply shadow-gray-300 dark:shadow-gray-900;
  }

  .shelf-border-color {
    @apply border-gray-300 dark:border-slate-600;
  }

  .shelf-border-color-blend {
    @apply border-black/10 dark:border-white/10;
  }

  .shelf-border-color-soft {
    @apply border-gray-300 dark:border-slate-600;
  }

  .shelf-card {
    /* @apply shelf-border-color; */
    @apply border-gray-300 dark:border-slate-600;
    @apply bg-white dark:bg-[rgb(41,52,69)] ;
    /* @apply bg-white dark:bg-slate-700/50 ;
    dark:bg-[rgb(41,52,69)] */
  }

  .shelf-card-light {
    @apply border-gray-300 dark:border-slate-500;
    @apply bg-white dark:bg-slate-700/100;
  }

  
  .shelf-text-title-color {
    @apply text-gray-600 dark:text-gray-400
  }

  .shelf-text-minor {
    @apply text-gray-500 dark:text-gray-400
  }
  .shelf-text-minor-light {
    @apply text-gray-400 dark:text-gray-500
  }

  .shelf-text-minor-2 {
    @apply text-gray-600 dark:text-gray-400
  }

  .shelf-text-label-color {
    @apply text-kf-600 dark:text-kf-400 ;
  }
  .shelf-text-label-color-second {
    @apply text-pink-600 dark:text-pink-400 ;
  }

  .shelf-input-color {
    @apply text-gray-800 dark:text-gray-300
           placeholder-gray-400 
           bg-slate-100 dark:bg-slate-700
  }

  .shelf-button-color-hard {
    @apply bg-slate-50 dark:bg-slate-800 
           text-gray-600 dark:text-gray-400 
  }

  .shelf-button-color-soft {
    @apply bg-white dark:bg-slate-700 
           text-gray-600 dark:text-gray-400 
  }

  .mdx {
    font-feature-settings: "cv02","cv03","cv04","cv11";
    font-feature-settings: "cv11";
    -webkit-text-size-adjust: 100%;
    font-variation-settings: normal;
    font-size: 'normal';
    tab-size: 4;
    h1 {
      margin-top: 2rem;
      margin-bottom: .25rem;
      line-height: 1.2;
      font-weight: bold;
      font-size: 1.875rem;
      /* font-size: "1.875rem"; */
      letter-spacing: -.025em;
      /* background-color: theme('colors.black'); */
    }
    h2 {
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      line-height: 1.22;
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: -.025em;
      & + h3 {
        margin-top: "1.5rem";
      }
    }
    h3 {
      margin-top: 2rem;
      /* mb: "0.5rem", */
      line-height: 1.25;
      font-weight: 600;
      font-size: 1.25rem;
      letter-spacing: -.025em;
    }
    h4 {
      margin-top: 2rem;
      line-height: 1.375;
      font-weight: 600;
      font-size: 1.125rem,
    }
    a {
      font-weight: 600;
      transition: color 0.15s;
      transition-timing-function: ease-out;
    }
    p {
      margin-top: 1.25rem;
      line-height: 1.7;
      blockquote & {
        margin-top: 0;
      }
    }
    hr {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    blockquote {
      /* bg: "orange.100",
      borderWidth: "1px",
      borderColor: "orange.200",
      rounded: "lg",
      px: "1.25rem",
      py: "1rem", */

      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      p  {
        margin-top: 0rem;
      }
    }
    ul {
      list-style-type: disc;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.25rem;
      }
    }
    ol {
      list-style-type: decimal;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.25rem;
      }
    }
    code {
      font-weight: 400;
      /* rounded: "sm",
      px: "1",
      fontSize: "0.8em",
      py: "2px",
      whiteSpace: "nowrap",
      lineHeight: "normal", */
    }
    /* font-family: theme('fontFamily.open_sans'); */
    /* border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl'); */
  }
  /* ... */


  
}
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */
