@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      -webkit-tap-highlight-color: transparent;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: Open Sans,Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    }
    .md-view {
      // font-family: 'Open Sans';
      code {
        border-width: thin;
        @apply text-kf-600 bg-pink-50 
            dark:text-pink-400 dark:bg-pink-100/10
            rounded-md border dark:border-none;

        // background-color:rgb(253 242 248);
        // color: #8f15ff;
        // border-color: #8f15ff;
        // padding:2px;
        // border-radius: 0.375rem;
        padding-left: 4px;
        padding-right: 4px;
      }
      strong {
        @apply text-kf-600 dark:text-kf-400;
      }
      a {
        @apply text-kf-600 dark:text-kf-400;
        text-decoration: underline;
      }
      ul {
        list-style-type: none;
        li::before {
          content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          // color: #8f15ff; /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          // width: 0.5em; /* Also needed for space (tweak if needed) */
           margin-right: 0.0em; /* Also needed for space (tweak if needed) */
        }
      }
    }

    
}

@layer components {
  .shelf-media-source {
    @apply bg-slate-50 dark:bg-slate-50/10 
    hover:bg-slate-100 dark:hover:bg-slate-100/0;
  }

  .shelf-side-hover {
    @apply sm:m:hover:bg-gray-200/90 dark:sm:m:hover:bg-gray-200/5;
  }

  .shelf-action-bar {
    @apply bg-white/50 dark:bg-slate-800/30 ;
  }

  .shelf-logo {
    @apply dark:border-slate-700
    bg-white dark:bg-slate-900/40;
  }

  .shelf-body-bg {
    @apply bg-gradient-to-br 
    from-slate-100 to-teal-100/20
    dark:from-slate-800 dark:to-slate-800
    text-gray-800 dark:text-gray-400;

  }


  .shelf-bling-fill {
    @apply text-gray-500 dark:text-gray-400
           bg-white dark:bg-slate-700 ;
  }

  .shelf-plain-card-fill {
    @apply bg-white dark:bg-slate-800;
    @apply border-gray-300 dark:border-slate-700;
    @apply shadow-gray-300 dark:shadow-gray-900;
  }

  .shelf-plain-card-soft {
    @apply bg-white dark:bg-slate-700;
    @apply border-gray-300 dark:border-slate-600;
    @apply shadow-gray-300 dark:shadow-gray-900;
  }

  .shelf-border-color {
    @apply border-gray-300 dark:border-slate-600;
  }

  .shelf-border-color-soft {
    @apply border-gray-300 dark:border-slate-600;
  }

  .shelf-card {
    @apply shelf-border-color;
    // @apply bg-white dark:bg-slate-700/50 ;
    @apply bg-white dark:bg-[rgb(41,52,69)] ;
    // dark:bg-[rgb(41,52,69)]
  }

  .shelf-card-light {
    @apply border-gray-300 dark:border-slate-500;
    @apply bg-white dark:bg-slate-700/50;
  }

  
  .shelf-text-title-color {
    @apply text-gray-600 dark:text-gray-400
  }

  .shelf-text-minor {
    @apply text-gray-500 dark:text-gray-400
  }
  .shelf-text-minor-light {
    @apply text-gray-400 dark:text-gray-500
  }

  .shelf-text-minor-2 {
    @apply text-gray-600 dark:text-gray-400
  }

  .shelf-text-label-color {
    @apply text-kf-600 dark:text-kf-400 ;
  }
  .shelf-text-label-color-second {
    @apply text-pink-600 dark:text-pink-400 ;
  }

  .shelf-input-color {
    @apply text-gray-800 dark:text-gray-300
           placeholder-gray-400 
           bg-slate-100 dark:bg-slate-700
  }

  .shelf-button-color-hard {
    @apply bg-slate-50 dark:bg-slate-800 
           text-gray-600 dark:text-gray-400 
  }

  .shelf-button-color-soft {
    @apply bg-white dark:bg-slate-700 
           text-gray-600 dark:text-gray-400 
  }

  .mdx {
    font-feature-settings: "cv02","cv03","cv04","cv11";
    font-feature-settings: "cv11";
    -webkit-text-size-adjust: 100%;
    font-variation-settings: normal;
    tab-size: 4;
    h1 {
      margin-top: 2rem;
      margin-bottom: .25rem;
      line-height: 1.2;
      font-weight: bold;
      font-size: 1.875rem;
      // font-size: "1.875rem";
      letter-spacing: -.025em;
      // background-color: theme('colors.black');
    }
    h2 {
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      line-height: 1.22;
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: -.025em;
      & + h3 {
        margin-top: "1.5rem";
      }
    }
    h3 {
      margin-top: 2rem;
      // mb: "0.5rem",
      line-height: 1.25;
      font-weight: 600;
      font-size: 1.25rem;
      letter-spacing: -.025em;
    }
    h4 {
      margin-top: 2rem;
      line-height: 1.375;
      font-weight: 600;
      font-size: 1.125rem,
    }
    a {
      font-weight: 600;
      transition: color 0.15s;
      transition-timing-function: ease-out;
    }
    p {
      margin-top: 1.25rem;
      line-height: 1.7;
      blockquote & {
        margin-top: 0;
      }
    }
    hr {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    blockquote {
      // bg: "orange.100",
      // borderWidth: "1px",
      // borderColor: "orange.200",
      // rounded: "lg",
      // px: "1.25rem",
      // py: "1rem",
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      p  {
        margin-top: 0rem;
      }
    }
    ul {
      list-style-type: disc;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.25rem;
      }
    }
    ol {
      list-style-type: decimal;
      margin-top: 0.25rem;
      margin-left: 1.25rem;
      blockquote & { 
        margin-top: 0;
      }
      & > * + * {
        margin-top: 0.25rem;
      }
    }
    code {
      font-weight: 400;
      // rounded: "sm",
      // px: "1",
      // fontSize: "0.8em",
      // py: "2px",
      // whiteSpace: "nowrap",
      // lineHeight: "normal",
    }
    // font-family: theme('fontFamily.open_sans');
    font-size: normal
    // border-radius: theme('borderRadius.lg');
    // padding: theme('spacing.6');
    // box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
