@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: rgba(0.0, 0.0, 0.0, 0.0);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0.0, 0.0, 0.0, 0.5);
}

@theme {
  --font-inter: Inter, sans-serif;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-rotate-bg: rotate-bg 8s linear infinite;

  --color-kf-50: #f5f1ff;
  --color-kf-100: #ede5ff;
  --color-kf-200: #deceff;
  --color-kf-300: #c6a6ff;
  --color-kf-400: #ad74ff;
  --color-kf-500: #973cff;
  --color-kf-600: #8f15ff;
  --color-kf-700: #8403fe;
  --color-kf-800: #6e02d5;
  --color-kf-900: #440381;


  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes rotate-bg {
    0% { 
      transform: rotate(0deg) scale(10);
    }
    100% { 
      transform: rotate(-360deg) scale(10);
    }
  }
}

@layer components {

  .chat-bg {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  
  .chat-border-color {
    @apply border-gray-300 dark:border-slate-600;
  }

  .chat-bg-overlay {
    @apply bg-black/5 dark:bg-white/10;
  }

  .chat-border-overlay {
    @apply border-black/10 dark:border-white/10 ;
  }

  .chat-border-color-soft {
    @apply border-gray-300 dark:border-slate-600;
  }

  .chat-card {
    @apply border-gray-300 dark:border-slate-600;
    @apply bg-white dark:bg-[rgb(41,52,69)] ;
    /* @apply bg-white dark:bg-slate-700/50 ;
    dark:bg-[rgb(41,52,69)] */
  }

  .chat-text {
    @apply text-gray-800 dark:text-gray-200;
  }

}

/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
